.main-panel{
    margin-top: 200px;
    box-sizing: content-box;
}
div.row{
    padding: 10px;
}
.header{
    background-color: darkcyan;
    color:white;
    font-weight: bold;
}
.panel{
    background-color: whitesmoke;
}
footer{
    background-color: gray;
    text-align: center;
    font-size: 15px;
    font-family: Arial;
    padding: 30px;
    margin-top: 50px;
}